DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/Credimax?sslmode=require
JWT_SECRET=cambia-este-secreto
JWT_EXPIRES_IN=7d
PORT=3700
HOST=0.0.0.0
UPLOAD_DIR=uploads
APP_TZ=America/Lima
NODE_ENV=production
